.profilePhoto {
    width: 300px;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.profilePhoto > img {
    position: absolute;
    margin: auto;
    min-height: 300px;
    min-width: 300px;
    width: 300px;
    height: auto;
}