.main h3 {
  font-size: 1.6rem;
}

.heading {
  color: #000;
  /* position: absolute; */
  top: 0;
  display: flex;
  justify-content: center;
  flex: 1 1 100%;
  border-bottom: 2px solid #dedede;
  margin: 0;
  padding: 15px 0;
  letter-spacing: 4px;
}
.main > div {
  padding: 20px;
}
.main span {
  font-family: 'ProximaNovaRegular';
}
@media only screen and (max-width: 500px) {
    .heading {
        position: static;
    }
    .main h3 {
      text-align: center;
    }
}
