.background {
  background-image: url(../../../public/Driver/driver_main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -50px;
  min-height: 600px;
  width: 100%;
}
.inner {
  position: relative;
  padding: 0 9%;
  min-height: 600px;
}
.signUpBigBtn {
  position: absolute;
  right: 20%;
  bottom: -50px;
  width: 200px;
  min-height: 200px;
  background-color: #000;
  color: #f4f4f4;
  font-size: 1.8rem;
  padding: 30px;
}
.signUpBigBtn:hover {
  background-color: #928e8e;
  transition: 0.3s;
}
.signUpBigBtnBlock {
  position: relative;
  min-height: 200px;
}
.blockStart {
  font-size: 1.9rem;
}
.blockEnd {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media only screen and (max-width: 980px) {
  .background {
    background-position: 0 -20px;
  }
}
@media only screen and (max-width: 400px) {
  .signUpBigBtn {
    bottom: 100px;
    width: 150px;
    min-height: 150px;
    font-size: 1.3rem;
  }
}
