.profileContainer {
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 70px;
    display: flex;
    min-height: 90vh;
    background: white;
}
.profileMain {
    flex: 1 1 60%;
    display: flex;
    flex-flow: column nowrap;
    border-right: 2px solid #dedede;
    position: relative;
    box-shadow: -3px 2px 5px 0px rgba(222,222,222,1);
    align-items: center;
}
.profileToolbar {
    flex: 1 0 25%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    border-left: 2px solid #dedede;
    border-right: 2px solid #dedede;
    height: 100%;
}
.profileToolItem {
    color: #2b2929;
    font-size: 1.3rem;
    padding: 15px 20px;
    cursor: pointer;
}
.profileToolItem:hover {
    background: #faa71a;
}

.photoName {
    text-align: center;
    border-bottom: 2px solid #dedede;
    margin-top: 30px;
    padding: 0 20px;
}

.profilePhoto {
    width: 150px;
    height: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50%;
}

.profilePhoto > img {
    position: absolute;
    margin: auto;
    min-height: 150px;
    min-width: 150px;
    width: 150px;
    height: auto;
}

.profileName {
    font-size: 1.5rem;
}

@media only screen and (max-width: 1140px) {
    .profileToolbar {
        border-left: none;
        margin-left: 0;
    }
    .profileMain {
        border-right: none;
    }
}
@media only screen and (max-width: 500px) {
    .profileContainer {
        display: block;
    }
    .profileToolItem {
        text-align: center;
    }
    .profileToolbar {
        border-right: none;
        border-bottom: 2px solid #dedede;
    }
    .profileMain {
        box-shadow: none;
    }
}
