.profileContainer {
    max-width: 1140px;
    margin: auto;
    margin-top: 80px;
    display: flex;
}

.profileMain {
    flex: 1 0 70%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 0 20px;
}

.profileToolbar {
    flex: 1 0 25%;
    padding: 20px 20px;
    margin: 0 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
}

.profileToolItem {
    padding: 5px 10px;
    cursor: pointer;
}

.profileToolItem:hover {
    background: #c0bbbb;
}