.docPhoto {
    width: 300px;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
}
.docPhoto > img {
    position: absolute;
    min-height: 300px;
    min-width: 400px;
    width: 500px;
    height: auto;
}
.documents__h1 {
    text-align: center;
}
.vehicle__h3 {
    text-align: center;
    font-size: 1.6rem;
}
@media only screen and (max-width: 500px) {
    .docPhoto {
        width: 80%;
        margin: 0 auto;
    }
}
