body {
  margin: 0;
  padding: 0;
  font-family: 'ProximaNovaThin';
  background-color: #f4f4f4;
}
a {
  outline: none;
}
a:active {
  outline: none;
}
@font-face {
  font-family: "ProximaNovaRegular";
  src: url(/../../public/fonts/ProximaNovaCondensedRegular.otf);
}
@font-face {
  font-family: "ProximaNovaThin";
  src: url(/../../public/fonts/ProximaNovaThin.ttf);
}
@font-face {
  font-family: "ProximaNovaItalicReg";
  src: url(/../../public/fonts/Proxima-Nova-Reg-It.otf);
}
@font-face {
  font-family: "ProximaNovaItalicThin";
  src: url(/../../public/fonts/Proxima-Nova-Thin-It.otf);
}
