body {
  margin: 0;
  padding: 0;
  font-family: 'ProximaNovaThin';
  background-color: #f4f4f4;
}
@font-face {
  font-family: "ProximaNovaRegular";
  src: url(/../../public/fonts/ProximaNovaCondensedRegular.otf);
}
@font-face {
  font-family: "ProximaNovaThin";
  src: url(/../../public/fonts/ProximaNovaThin.ttf);
}
